<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Reveal.js</title>
        <link rel="stylesheet" href="/css/reveal.css">
        <link rel="stylesheet" href="/css/theme/{{theme}}.css" id="theme">
        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="/lib/css/{{codeTheme}}.css">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
          document.write( '<link rel="stylesheet" href="/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
        </script>
    </head>
    <body>

        <div class="reveal">
            <div class="slides">{{{slides}}}</div>
        </div>

        <script src="/lib/js/head.min.js"></script>
        <script src="/js/reveal.js"></script>

        <script>
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                theme: Reveal.getQueryHash().theme,
                transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none

                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: '/lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: '/plugin/highlight/highlight.js', async: true, callback: function() {
                        console.log("hljs: " + hljs);
                        hljs.initHighlightingOnLoad();
                    } },
                    { src: '/plugin/markdown/marked.js', condition: function() { return !!document.querySelector('[data-markdown]'); } },
                    { src: '/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector('[data-markdown]'); } }
                ]
            });
        </script>
    </body>
</html>
